In [78]:
import numpy as np
import pandas as pd
import os

import matplotlib
#matplotlib.use('agg')
import matplotlib.pyplot as plt
import seaborn as sns

import plotly
plotly.tools.set_credentials_file(username='vvr', api_key='Ker155UU70wk3Ccz6iyM')
import plotly.plotly as py
import plotly.graph_objs as go

color = sns.color_palette("husl", 8)

import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer


%matplotlib inline

import squarify

import nltk
from nltk.corpus import stopwords
from nltk import sent_tokenize, word_tokenize
#from wordcloud import WordCloud, STOPWORDS
from collections import Counter
from nltk.tokenize import RegexpTokenizer
from stop_words import get_stop_words
from nltk.corpus import stopwords
from nltk import sent_tokenize, word_tokenize
import re



from scipy.sparse import hstack

In [79]:
train= pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
data = pd.read_csv('campaign_data.csv')
sub = pd.read_csv('sample_submission_4fcZwvQ.csv')

In [80]:
train.columns  = ['id', 'userid', 'campaignid', 'send_date', 'open', 'click']
test.columns  = ['id', 'userid', 'campaignid', 'send_date']

In [81]:
train.columns

Index(['id', 'userid', 'campaignid', 'send_date', 'open', 'click'], dtype='object')

In [82]:
test.columns

Index(['id', 'userid', 'campaignid', 'send_date'], dtype='object')

In [83]:
data['communication_type'].value_counts()

Hackathon          13
Corporate          12
Newsletter          9
Conference          8
Upcoming Events     7
Others              2
Webinar             1
Name: communication_type, dtype: int64

In [84]:
data[['campaign_id', 'communication_type']].sort_values(['communication_type','campaign_id'])

    campaign_id communication_type
2            31         Conference
3            32         Conference
7            36         Conference
8            37         Conference
9            38         Conference
11           40         Conference
20           49         Conference
24           53         Conference
12           41          Corporate
14           43          Corporate
26           55          Corporate
30           59          Corporate
31           60          Corporate
32           61          Corporate
37           66          Corporate
41           70          Corporate
43           72          Corporate
44           73          Corporate
48           77          Corporate
51           80          Corporate
16           45          Hackathon
17           46          Hackathon
18           47          Hackathon
22           51          Hackathon
29           58          Hackathon
33           62          Hackathon
36           65          Hackathon
38           67          Hackathon
39           68          Hackathon
40           69          Hackathon
42           71          Hackathon
49           78          Hackathon
50           79          Hackathon
0            29         Newsletter
5            34         Newsletter
13           42         Newsletter
19           48         Newsletter
23           52         Newsletter
25           54         Newsletter
27           56         Newsletter
34           63         Newsletter
45           74         Newsletter
4            33             Others
6            35             Others
1            30    Upcoming Events
15           44    Upcoming Events
21           50    Upcoming Events
28           57    Upcoming Events
35           64    Upcoming Events
46           75    Upcoming Events
47           76    Upcoming Events
10           39            Webinar

In [85]:
data[['campaign_id', 'communication_type','total_links']].sort_values(['communication_type','campaign_id'])

    campaign_id communication_type  total_links
2            31         Conference           15
3            32         Conference           24
7            36         Conference           13
8            37         Conference            9
9            38         Conference           28
11           40         Conference           10
20           49         Conference          119
24           53         Conference          104
12           41          Corporate           14
14           43          Corporate           11
26           55          Corporate           11
30           59          Corporate            8
31           60          Corporate           11
32           61          Corporate            8
37           66          Corporate           16
41           70          Corporate           16
43           72          Corporate           22
44           73          Corporate           18
48           77          Corporate           24
51           80          Corporate           12
16           45          Hackathon            7
17           46          Hackathon            7
18           47          Hackathon            8
22           51          Hackathon            8
29           58          Hackathon            6
33           62          Hackathon            7
36           65          Hackathon            7
38           67          Hackathon            7
39           68          Hackathon            7
40           69          Hackathon           12
42           71          Hackathon            8
49           78          Hackathon            6
50           79          Hackathon            6
0            29         Newsletter           67
5            34         Newsletter           75
13           42         Newsletter           88
19           48         Newsletter          203
23           52         Newsletter           67
25           54         Newsletter           63
27           56         Newsletter           42
34           63         Newsletter           68
45           74         Newsletter          140
4            33             Others            7
6            35             Others            9
1            30    Upcoming Events           18
15           44    Upcoming Events           60
21           50    Upcoming Events          109
28           57    Upcoming Events           40
35           64    Upcoming Events           49
46           75    Upcoming Events           39
47           76    Upcoming Events           35
10           39            Webinar            9

In [86]:
data[['campaign_id', 'communication_type','total_links','no_of_images']].sort_values(['communication_type',
                                                                                      'campaign_id', 'total_links'])

    campaign_id communication_type  total_links  no_of_images
2            31         Conference           15             5
3            32         Conference           24             7
7            36         Conference           13             2
8            37         Conference            9             3
9            38         Conference           28            12
11           40         Conference           10             2
20           49         Conference          119            16
24           53         Conference          104            13
12           41          Corporate           14             2
14           43          Corporate           11             3
26           55          Corporate           11             5
30           59          Corporate            8             5
31           60          Corporate           11             3
32           61          Corporate            8             9
37           66          Corporate           16            13
41           70          Corporate           16            13
43           72          Corporate           22             5
44           73          Corporate           18             5
48           77          Corporate           24             5
51           80          Corporate           12             5
16           45          Hackathon            7             2
17           46          Hackathon            7             2
18           47          Hackathon            8             2
22           51          Hackathon            8             2
29           58          Hackathon            6             2
33           62          Hackathon            7             2
36           65          Hackathon            7             1
38           67          Hackathon            7             1
39           68          Hackathon            7             1
40           69          Hackathon           12             4
42           71          Hackathon            8             4
49           78          Hackathon            6             1
50           79          Hackathon            6             1
0            29         Newsletter           67            12
5            34         Newsletter           75            12
13           42         Newsletter           88            13
19           48         Newsletter          203            12
23           52         Newsletter           67            10
25           54         Newsletter           63             8
27           56         Newsletter           42            10
34           63         Newsletter           68            15
45           74         Newsletter          140            15
4            33             Others            7             1
6            35             Others            9             1
1            30    Upcoming Events           18             7
15           44    Upcoming Events           60            19
21           50    Upcoming Events          109            17
28           57    Upcoming Events           40            15
35           64    Upcoming Events           49            14
46           75    Upcoming Events           39            15
47           76    Upcoming Events           35            15
10           39            Webinar            9             2

In [87]:
import re

data['subject'] = data['subject'].map(lambda x: re.sub(r'\W+', ' ', x))
data['email_body'] = data['email_body'].map(lambda x: re.sub(r'\W+', ' ', x))

In [88]:
def pir(data):
    t = data.text.str.split(expand=True).stack()
    return t.loc[t.str.len() >= 3].groupby(level=0).apply(' '.join)
data['subject'] = data['subject'].str.findall('\w{3,}').str.join(' ')
data['email_body'] = data['email_body'].str.findall('\w{3,}').str.join(' ')

In [89]:
import nltk
data['subject'] = data.apply(lambda row: nltk.word_tokenize(row['subject']), axis=1)
data['email_body'] = data.apply(lambda row: nltk.word_tokenize(row['email_body']), axis=1)

In [90]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

data['subject'] = data["subject"].apply(lambda x: [stemmer.stem(y) for y in x])
data['email_body'] = data["email_body"].apply(lambda x: [stemmer.stem(y) for y in x])

In [91]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

data['subject'] = data['subject'].apply(lambda x: ' '.join([word for word in x if word not in (stop)]))
data['email_body'] = data['email_body'].apply(lambda x: ' '.join([word for word in x if word not in (stop)]))

In [92]:
train.head(3)

          id  userid  campaignid         send_date  open  click
0   42_14051   14051          42  01-09-2017 19:55     0      0
1  52_134438  134438          52  02-11-2017 12:53     0      0
2  33_181789  181789          33  24-07-2017 15:15     0      0

In [93]:
test.head()

          id  userid  campaignid         send_date
0  63_122715      63      122715  01-02-2018 22:35
1   56_76206      56       76206  02-01-2018 08:15
2   57_96189      57       96189  05-01-2018 18:25
3  56_166917      56      166917  02-01-2018 08:15
4  56_172838      56      172838  02-01-2018 08:12

In [94]:
train.shape

(1023191, 6)

In [95]:
test.shape

(773858, 4)

# TFIDF

In [96]:
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer(ngram_range = (6,6))
data['subject'] =  v.fit_transform(data['subject'])

In [97]:
data['email_body'] =  v.fit_transform(data['email_body'])

# Label Encoding

In [98]:
le = LabelEncoder()
le.fit(data['communication_type'])
data['communication_type'] = le.transform(data['communication_type'])
#data.head(3)

In [99]:
data.drop('email_url', axis=1, inplace = True)

# Concating

In [71]:
train.set_index('campaignid', inplace = True)

In [72]:
test.set_index('campaignid', inplace = True)

In [73]:
data.set_index('campaign_id', inplace = True)

In [74]:
train = pd.merge(train, data, left_index=True, right_index=True)

In [100]:
test = pd.merge(test, data, left_index=True, right_index=True, )

# Multi Label Classification

In [102]:
train.shape

(1023191, 6)

In [103]:
test.shape

(52, 12)